<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h1>메인 페이지</h1>

    <h2 th:if="${username != null and username != 'fail'}" th:text="|${username}님 안녕하세요.|"></h2>

    <div th:if="${username == null or username == 'fail'}">
        <button th:onclick="|location.href='@{/signup}'|">회원가입</button>
        <button th:onclick="|location.href='@{/login}'|">로그인</button>
    </div>
    <div th:if="${username != null and username != 'fail'}">
        <button th:onclick="|location.href='@{/board}'|">작성하기</button>
        <button th:onclick="|location.href='@{/out}'|">로그아웃</button>
    </div>

    <table>
        <tr>
            <th>id</th>
            <th>title</th>
            <th>content</th>
        </tr>
        <tr th:each="board : ${boardList}">
            <td th:text="${board.id}"></td>
            <td>
                <a th:href="@{/board/{id}(id=${board.id})}" th:text="${board.title}"></a>
            </td>
            <td th:text="${board.content}"></td>
        </tr>
    </table>
</div>
</body>
</html>