<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h1>Index</h1>

    <a href="/board">작성하기</a>

    <table>
        <tr>
            <th>id</th>
            <th>title</th>
            <th>content</th>
        </tr>
        <tr th:each="board : ${boardList}">
            <td th:text="${board.id}"></td>
            <td>
                <a th:href="@{/board/{id}(id=${board.id})}" th:text="${board.title}"></a>
            </td>
            <td th:text="${board.content}"></td>
        </tr>
    </table>
</div>
</body>
</html>